.page {
    max-width: 55em;
    margin: 0 auto;
}

body {
  color:#CEBC81; /* light yellow*/
  background-color: #19181A;  /* dark charcoal gray */
  font-size: 18px;
}

h1 {
  font-size: 3em;
  font-family: "Impact";
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-family: "Bookman";
  font-size: 1.9em;
  font-style: italic;
  padding-top: 0;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-align: center;
  font-color:black;
}

p {
  text-align: center;
  font-family: "Century Gothic";
}


iframe {
  align: center;
  margin: 2em auto;
  display: flex;
}

.image {
 align-items:center;
 display:block;
 margin-bottom: 10px;
 padding-bottom: 10px;
}

.button:link,                 /* Change this */
.button:visited {             /* Change this */
 display: block;             /* Add this */
 text-decoration: none;      /* Add this */

  color: #FFF;
  background-color: #B19F9E;    /* light mauve */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  /* color: #FFF; */
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #B19F9E;
  background-color: #B19F9E;
}

#button-2 {
  background-color: #B19F9E;    /* light mauve */
}

.call-to-action:link,
.call-to-action:visited {
  background-color: #B19F9E;    /* mauve */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #76AEED;     /* Light blue */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color:black
}

a:link {
  color: #591664;
  text-decoration: none;
}
a:visited:hover {
  color: #00887a;
}
a:hover, a:focus {
  color: #00887a;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited:active {
  color: red;
}

p:last-of-type {
  margin-bottom: 50px;
}

.page > p:first-of-type {
  color: #7E8184;
  font-style: italic;
}

#button-2 {
  color: #5D6063;  /* Dark gray */
}

nav {
  width: 100%;
  height: 60px;
  background-color: #B19F9E;    /* light mauve */
  font-family: "Palatino";
}

nav ul {
  float: center;
}

nav ul li {
  float: left;
  list-style: none;
}

nav::after {
  float: none;
}

nav ul li a {
  display: block;
  font-family: "Impact", sans-serif;
  letter-spacing: 1px;
  color:black;
  text-transform: uppercase;
  font-size: 16px;
  padding: 22px 40px;
  text-decoration: none;
  justify-content: center;
}

.nav ul li a:hover {
  background-color:black;
  text-decoration: none;
}

.centered {
  margin: 0 auto;
}


.horizontal {
  display: flex;
  justify-content: space-around;
}

footer.horizontal {
  justify-content: space-between;
}

#survivors img {
  width: 30%;
  max-width: 300px;
  height: auto;
}
