.page {
  width: 600px;
  margin: 0 auto;
}

body {
  color: #414141;    /* Dark gray */
  background-color: #B9D3EE;  /* slate gray */
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  font-color:black;
}

p {
  text-align: center;
  font-family: "American Typewriter"
}


iframe {
  align: center;
  margin-borrom: 10em;
}

.image {
 text-align:center;
 display:block;
}

.button:link,                 /* Change this */
.button:visited {             /* Change this */
 display: block;             /* Add this */
 text-decoration: none;      /* Add this */

  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color:black
}

.page {
  width: 600px;
  margin: 0 auto;
}

#button-2 {
  background-color: #5995DA;    /* blue */
}

.call-to-action:link,
.call-to-action:visited {
  background-color: #5995DA;    /* blue */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #76AEED;     /* Light blue */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color:black
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited:hover {
  color: orange;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited:active {
  color: red;
}

p:last-of-type {
  margin-bottom: 50px;
}

.page > p:first-of-type {
  color: #7E8184;
  font-style: italic;
}

#button-2 {
  color: #5D6063;  /* Dark gray */
}

nav {
  width: 100%;
  height: 60px;
  background-color:black
}

nav ul {
  float: center;
}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  display: block;
  font-family: Georgia;
  color:white
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}
